* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* task 1 */

#categories {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  background-color: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
}

.item h2 {
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
}

.item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
  color: #2e2f42;
}

/* task 2 */

.gallery {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* task 3 */

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
}

#name-input {
  font-family: "Montserrat", sans-serif;
  width: 360px;
  padding: 10px 14px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  color: #2e2f42;
}

/* task 4 */

.login-form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  padding: 24px;
}

.login-form label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
}

.login-form input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

button {
  width: 86px;
  height: 40px;
  margin-top: 10px;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
}

/* task 5*/

.widget {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.widget > p {
  font-size: 16px;
  margin: 0;
}

.change-color {
  width: 148px;
  height: 40px;
}

/* task 6 */

#controls {
  display: flex;
  flex-direction: row;
  padding: 32px;
  background-color: #f6f6fe;
  gap: 16px;
  margin: 10px;
}

#controls input {
  background-color: #f6f6fe;
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

#controls button {
  margin: 0;
  width: 120px;
  height: 40px;
}

#controls button[data-destroy] {
  background-color: #ff4e4e;
  border: 1px solid #ff4e4e;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
  background-color: #f6f6fe;
  margin: 15px 10px;
  padding: 32px;
}
